//COLOR
$color1:#E9E2D8;        //text color (light)
$color2:#2B2B2B;        //text color (dark)
$color3:#373737;

//Fonts family
$family1:'Montserrat';        //font-family 1
$family1-bold:'Montserrat Bold';    //font-family 1 bold

$family2:'Arial';
$family2-bold:'Arial';
